{% extends 'restaurante/base.html' %}

{% block content %}
{% for post in posts %}
  <div class="img-thumbnail">
    <div class="post">
      <div class="date">
        {{ post.fecha_publicado }}
      </div>
      <h2><a class="titul" href="{% url 'restaurante:post_detail' post.pk %}">{{ post.titulo }}</a></h2>
      <div>
        <p class="texto">{{ post.texto|linebreaksbr }}</p>
      </div>  
      <div class="cat">
        Categoria: {{ post.categoria }}
      </div>
      <div class="tags">
        {{ post.tags }}
      </div>
      <div >
        {{ post.total_likes }} Like{{ post.total_likes|pluralize}}
      </div>

      <div class="autor">
       Autor: {{ post.autor }}
      </div>

      <br>

    </div>
  </div>  
{% endfor %}
{% endblock %}


