{% extends 'restaurante/base.html' %}

{% block content %}
    <div class="post">
        {% if post.fecha_publicado %}
            <div class="date2">
                {{ post.fecha_publicado }}
            </div>
        {% endif %}
        {% if request.user == post.autor or user.is_superuser %}
        <a class="btn btn-outline-dark" href="{% url 'restaurante:post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil">Editar</span></a>
        {% endif %}
        
        <a class="btn btn btn-outline-dark" href="{% url 'restaurante:post_restaurant' %}">Regresar <span class="sr-only">(current)</span></a>
        
        <br><br>
        <h2>{{ post.titulo }}</h2>
        <p class="texto">{{ post.texto|linebreaksbr }}</p>
        <h4>Categoria : {{ post.categoria }}</h4>
        <h3>{{ post.autor }}</h3>
        

        <div id="like-section">
            {% include 'restaurante/like_section.html' %}
        </div>    

        <br><br>
        <hr>

        <div id="comentario-section">
        {% include 'restaurante/comentario_section.html' %}
        </div>  

        

    </div>
{% endblock %}