<html>
    <head>
        <title>Blog restaurantes</title>
    </head>
    <body>
    	<div>
            <h1><a href="/">Cuentanos tu experiencia gastronomica </a></h1>
        </div>

        {% for post in posts %} 
         <div>
         	<p> publicado: {{ post_restaurant.fecha_publicado }} </p>
         	<h2><a href = "" >{{ post.titulo }} </a></h2>
         <!--   <h2><a href="">Primer post</a></h2> -->
          <!--  <p>Encantado, delicioso, hotel plaza bahia de sogamoso</p>-->
        </div>

        <div>
        	<p>{{ post.texto|linebreaksbr }} </p>
        </div>
        {% endfor %}
    </body>

	<footer>
  		<p>Posted by: Nicolef Avella</p>
	</footer>

</html>


