{% extends 'restaurante/base.html' %}

{% block content %}
    <div class="post">
        {% if post.fecha_publicado %}
            <div class="date2">
                {{ post.fecha_publicado }}
            </div>
        {% endif %}
        {% if request.user == post.autor or user.is_superuser %}
        <a class="btn btn-default" href="{% url 'restaurante:post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil">Editar</span></a>
        {% endif %}
        <h1>{{ post.titulo }}</h1>
        <p>{{ post.texto|linebreaksbr }}</p>
        <h3>{{ post.autor }}</h3>
        <h4>{{ post.categoria }}</h4>

        <div id="like-section">
            {% include 'restaurante/like_section.html' %}
        </div>    

        <div id="comentario">
            {% for comentario in post.get_comentarios %}
                <p> {{ comentario.comentarios }}</p>
            {% endfor %}    
        </div>

    </div>
{% endblock %}