.page-header {
    background-color: #3CB371;
    margin-top: 0;
    padding: 10px 10px 10px 20px;
}



body {
    padding-left: 150px;
    color: #000000;
}

h3{
    font-family: 'Lobster', cursive;
}

.date2 {
    float: right;
    color: #828282;
}

.date {
	float: right;
	font-style: italic;
	color: #E5C1A6;
	font-size:14px;
}

